################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Generic_POS_System_SLN/.vs/Generic_POS_System_SLN
/Generic_POS_System_SLN/Generic_POS_System/bin/Debug/netcoreapp3.1
/Generic_POS_System_SLN/Generic_POS_System/obj
