@*@{
    ViewData["Title"] = "Index";
}*@
        

<style>
    #colimage {
        background-image: url('https://images.unsplash.com/photo-1557821552-17105176677c?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932');
        height: 40vh;
        width: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }

    #text{
        width:100%;
        height:100%;
        color:white;
        display:flex;
        justify-content:center;
        flex-direction:column;
        align-items:center;
        background-color: rgba(0,0,0,0.5);
    }
</style>


            
    


        <div class="row">
            <div class="col">
                <div id="colimage">
                    <h1 id="text" class="display-1 fw-bold">Welcome to POS</h1>
                </div>
            </div>
        </div>
    <div class="container">
        
            @*<div id="carouselExampleFade" class="col-12 carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://www.amd.com/system/files/76955-ryzen5-vega-1920x400.jpg" class="d-block w-100"
                             alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="http://www.teledynedefenseelectronics.com/energetics/Energetics_Carousel/Dual-ESAD-2-1920x400-black.jpg"
                             class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://jlrorwxhqjrilj5q.ldycdn.com/cloud/llBprKkmljSRlioplmpoip/crumbsDOWNLOAD.jpg"
                             class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>*@
        



        <div class="row my-2 mb-4 row-cols-1 row-cols-md-2 row-cols-lg-4 g-3 g-md-2 g-lg-3">
            <div class="col">
                <div class="card mb-4 justify-content-center align-items-left p-3 shadow-sm" style="width: 18rem;">
                    <img src="https://images.unsplash.com/photo-1619597455322-4fbbd820250a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGRlc2t0b3AlMjBjb21wdXRlcnxlbnwwfHwwfHw%3D&w=1000&q=80"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Computer Accessories</h5>
                        <a href="#" class="btn btn-primary">See More</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 justify-content-center align-items-left p-3 shadow-sm" style="width: 18rem;">
                    <img src="https://previews.123rf.com/images/belchonock/belchonock1906/belchonock190608269/124990305-different-luxury-makeup-products-on-white-background-top-view.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Beauty & Healthcare</h5>
                        <a href="#" class="btn btn-primary">See more</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 justify-content-center align-items-left p-3 shadow-sm" style="width: 18rem;">
                    <img src="https://3u8dbs16f2emlqxkbc8tbvgf-wpengine.netdna-ssl.com/wp-content/uploads/2019/12/nrd-D6Tu_L3chLE-unsplash-scaled.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Buy Groceries</h5>

                        <a href="#" class="btn btn-primary">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 justify-content-center align-items-left p-3 shadow-sm" style="width: 18rem;">
                    <img src="https://media.istockphoto.com/photos/collection-of-trendy-womens-garments-on-rack-indoors-closeup-and-for-picture-id1321448269?b=1&k=20&m=1321448269&s=170667a&w=0&h=7R8Q7IBiMpY4iyuq3E50yCuEROdSo58wDONw4eOX8EQ="
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Fashion & Dresses</h5>
                        <a href="#" class="btn btn-primary">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
        


        <div class="row my-2 mb-4">
            <div id="carouselExampleFade" class="col carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://www.sleekmakeup.com/sites/g/files/xpfdlm111/files/Desktop_1920x400.png"
                             class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://bethanyemc.ca/wp-content/uploads/Childrens-Header.jpg" class="d-block w-100"
                             alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.ucc-bd.com/pub/media/magiccart/magicslider/c/7/c7b32e35_vk-com-header1590x400.jpg"
                             class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>


        <div class="row mb-4 row-cols-1 row-cols-md-2 row-cols-lg-4 g-2 g-lg-3">
            <div class="col">
                <div class="card mb-4 justify-content-center align-items-left p-3 shadow-sm" style="width: 18rem;">
                    <img src="https://images.unsplash.com/photo-1619597455322-4fbbd820250a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGRlc2t0b3AlMjBjb21wdXRlcnxlbnwwfHwwfHw%3D&w=1000&q=80"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Computer Accessories</h5>
                        <a href="#" class="btn btn-primary">See More</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 justify-content-center align-items-left p-3 shadow-sm" style="width: 18rem;">
                    <img src="https://previews.123rf.com/images/belchonock/belchonock1906/belchonock190608269/124990305-different-luxury-makeup-products-on-white-background-top-view.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Beauty & Healthcare</h5>
                        <a href="#" class="btn btn-primary">See more</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 justify-content-center align-items-left p-3 shadow-sm" style="width: 18rem;">
                    <img src="https://3u8dbs16f2emlqxkbc8tbvgf-wpengine.netdna-ssl.com/wp-content/uploads/2019/12/nrd-D6Tu_L3chLE-unsplash-scaled.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Buy Groceries</h5>

                        <a href="#" class="btn btn-primary">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 justify-content-center align-items-left p-3 shadow-sm" style="width: 18rem;">
                    <img src="https://media.istockphoto.com/photos/collection-of-trendy-womens-garments-on-rack-indoors-closeup-and-for-picture-id1321448269?b=1&k=20&m=1321448269&s=170667a&w=0&h=7R8Q7IBiMpY4iyuq3E50yCuEROdSo58wDONw4eOX8EQ="
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Fashion & Dresses</h5>
                        <a href="#" class="btn btn-primary">Shop Now</a>
                    </div>
                </div>
            </div>
        <div/>
    </div>

                                                        