@{
    Layout = "_Layout";
}
<div class="px-3 py-5 bg-light">
    <div class="container-md">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="300" src="https://shop.aarongdairy.net/wp-content/uploads/2020/04/uht-200.jpg" alt="Card image cap" />
                    <div class="card-body">
                        <h5 class="card-title">Arong Milk</h5>
                        <p class="card-text">Quantity     : 250ML</p>
                        <p class="card-text">Price Now    : 30Tk</p>
                        <p class="card-text">Regular Price: 35Tk</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="300" src="~/images/GILLETTE-MACH-3-SHAVING-RAZOR-SHAVING-FOAM-50g.jpg" alt="Card image cap" />
                    <div class="card-body">
                        <h5 class="card-title">Gelette Razor and Foam</h5>
                        <p class="card-text">Quantity     : 250ML +1 </p>
                        <p class="card-text">Price Now    : 400Tk</p>
                        <p class="card-text">Regular Price: 435Tk</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="300" src="~/images/download.jpeg" alt="Card image cap" />
                    <div class="card-body">
                        <h5 class="card-title">Lazuri Pack</h5>
                        <p class="card-text">Items        : 3(250ML+250ML+250ML) </p>
                        <p class="card-text">Price Now    : 1000Tk</p>
                        <p class="card-text">Regular Price: 1150Tk</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="300" src="~/images/olympic-lexus-vege-crackers-240-gm.jpg" alt="Card image cap" />
                    <div class="card-body">
                        <h5 class="card-title">Lexus Combo</h5>
                        <p class="card-text">Items        : 2(250GM+250GM) </p>
                        <p class="card-text">Price Now    : 180Tk</p>
                        <p class="card-text">Regular Price: 200Tk</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="300" src="~/images/mortein.JPEG" alt="Card image cap" />
                    <div class="card-body">
                        <h5 class="card-title">Mortein Combo</h5>
                        <p class="card-text">Items        : 2(500ML+250ML) </p>
                        <p class="card-text">Price Now    : 630Tk</p>
                        <p class="card-text">Regular Price: 700Tk</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="300" src="https://shop.shajgoj.com/wp-content/uploads/2018/12/Parachute-Hair-Oil-Anti-Hairfall-Oil-Extra-Care-Root-Applier5543.jpg" alt="Card image cap" />
                    <div class="card-body">
                        <h5 class="card-title">Parachute Hair Oil</h5>
                        <p class="card-text">Items        : 150ML </p>
                        <p class="card-text">Price Now    : 129Tk</p>
                        <p class="card-text">Regular Price: 150Tk</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div />
