<footer class="text-center text-white fixed-bottom bg-dark">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2021 Copyright:
        <a class="text-white" href="home.html">POS System</a>
    </div>
    <!-- Copyright -->
</footer>