@model IEnumerable<ProductModel>

<style>
    .card-img-top {
        width: 100%;
        height: 18vh;
        object-fit: contain;
    }
</style>

<div class="px-3 py-5 bg-light">
    
    <div class="container-sm container-md container-lg">
        <h3 class="display-3 text-wrap fw-bold">All Products <i class="fas fa-solid fa-cart-circle-check"></i></h3>
        <div class="row mt-3 mb-4 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-2">
            @foreach (var product in Model)
            {
                <div class="col">
                    <partial name="_allProductCard" model="@product"/>
                </div>
            }
        </div>
    </div>
<div />

